@font-face {
  font-family: alin-kid;
  src: url("../fonts/ALIN_KID_CUSTOM.ttf");
}

.titulo-1 {
  font-size: 40px;
}

.text-white {
  color: white;
}

.imagen-cifras {
  height: 150px;
}
#section_one {
  position: relative;
}
#section_one:before {
  content: "";
  background: url(../images/tabla_section.svg);
  position: absolute;
  background-size: cover !important;
  background-position: center !important;
  top: -105px;
  width: 100vw;
  height: 36vh;
  left: 0;
  z-index: 1;
}
#section_one .container:first-child {
  position: relative;
  z-index: 2;
}
#section_one .container-fluid:first-child {
  position: relative;
  z-index: 2;
}




.seccion-plan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 750px;
  margin: 150px auto 400px auto;
  .logo-plan {
    height: 100px;
    margin-bottom: 30px;
  }
  p {
    text-align: center;
  }
}



.seccion-descripcion {
  padding: 0;
  width: 737px;
  margin: auto;
  height: 213px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: -1;
  .descripcion-contenido {
    position: relative;
    z-index: 2;
    width: 80%;
    margin: auto;
    color: white;
    h3 {
      font-family: alin-kid;
    }
  }
  &::after {
    content: url(../images/madero.svg);
    position: absolute;
    width: 100%;
    z-index: 1;
  }
}

.seccion-cifras {
  h2 {
    margin-bottom: 85px; 
  }
}
.pincipalescifras-container{
  align-items: baseline;
}

.descripcion-cifras {
  color: white;
}

.alin-font {
  font-family: alin-kid;
}

.itemcifras {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(25% - 20px);
  margin: 0 10px 40px 10px;
  z-index: 1;
  

  h3 {
    font-family: alin-kid;
    color: white;
    text-align: center;
    font-size: 20px;
  }
  .descripcion-cifras {
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }
    span {
      position: relative;
      z-index: 10;
    }
    position: relative;
    // background-image: url(../images/cifras-text-background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
  }

  .cifras {
    font-family: "Bebas Neue", cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    text-align: center;
    .c-small {
      font-size: 22px;
    }
    .c-big {
      font-size: 38px;
    }

    .c-verde {
      color: #004e00;
      line-height: 1;
    }
    .c-negro {
      color: #000;
      line-height: 1;
    }
  }
}

.itemcifras:last-child{
  margin-bottom: 0;
}

.seccion-usa-poder{
  position: relative;
}


.seccion-usa-poder::after{
  position: absolute;
    width: 300px;
    content: url(../images/draw-plane-23.svg);
    top: 80px;
    z-index: -1;
    left: 0;
}

@media (max-width:1200px){
  .seccion-usa-poder::after{
    display: none;
  }
}

@media (max-width:991px){
  .seccion-usa-poder::after{
    top:-20px;
  }
  .itemcifras{
    width: calc(50% - 20px); 
  }
  .responsive-expand{
    width:100% !important;
    max-width: 100% !important;
  }
}

@media (max-width:600px){
  .itemcifras{
    width: calc(100% - 20px); 
  }
}

.camino-amor-descricion{
  max-width: 750px;
    margin: auto auto 40px auto;
}

.caminos-list{
  justify-content: space-evenly;
}

.caminos-amor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 20px; 
  img {
    height: 200px;
    filter: drop-shadow(2px 0px 6px rgb(0, 0, 0, 0.5));
  }
  h3 {
    text-align: center;
    color: #0073d2;
    width: 100%;
    margin-bottom: 31px;
    font-family:alin-kid;
    margin-top:15px;
    &:after {
      background: #0073d2;
    }
  }
}

.background-notebook {
  background-repeat: no-repeat, repeat-y;
  background-image: url(../images/usa-poder-background-06.svg),
    url(../images/notebook-horizontal.svg);
  background-size: 100%, 106%;
  padding-top: 80px;
  background-position: 0px -10%, left;
  box-shadow: 0 5px 3px #00000021;
}
// .background-notebook {
//   background-image: url(../images/usa-poder-background-06.svg);
//   background-repeat: no-repeat;
//   background-size: 100%;
//   padding-top: 80px;
//   background-position: 0px -10%;
//   .horizontal_lines {
//     background-image: url(../images/notebook-lines-horizontal.svg);
//   }
// }

.seccion-camino-amor {
  margin-top: 130px;
}

.founder-companys {
  margin-bottom: 30px;
  .brand-company {
    margin-right: 30px;
    position: relative;
    &::after {
      content: "";
      width: 2px;
      height: 100%;
      position: absolute;
      background: white;
      right: -15px;
      
  }
    &:last-child {
      margin-right: 0;
      &::after{
        display: none;
      }
    }
    img {
      height: 40px;
    }
  }
}

@media (max-width: 768px) {
  .seccion-camino-amor{
    margin-top: 50px;
  }
  .page-name h2{
    font-size: 32px !important;
    padding: 0 12px;
  }
  .background-notebook {
    background-size: 210%, 100% !important;
    padding-top: 30px; 
  }
  .seccion-descripcion {
    width: 100%;
    .descripcion-contenido {
      width: 100%;
    }
  }
  .titulo-1 {
    font-size: 34px;
  }
  .seccion-descripcion::after {
    width: 170%;
    left: -130px;
  }
  .seccion-plan {
    margin: 40px auto 140px auto;
  }
  .use_power_title {
    margin-bottom: 20px;
  }
  .background-notebook {
    background-position: 0px 0%, left;
  }
  .little-menu {
    margin: 0 auto;
  }
  .caminos-amor{
    margin-bottom: 40px;
  }
}
@media (max-width: 1090px) {
  .background-notebook {
    background-size: 113%, 100%;
  }
}

@media (max-width: 450px) {
  .seccion-descripcion::after {
    width: 330%;
    left: -300px; 
  }
}
@media (max-width: 325px) {
  .seccion-descripcion::after { 
    width: 345%;
    left: -300px;
  }
}
