$icomoon-font-family: "buildpaz" !default;
$icomoon-font-path: "../fonts" !default;

$icon-search: "\e900";
$icon-bars: "\e901";
$icon-whatsapp: "\e902";
$icon-youtube: "\e903";
$icon-twitter: "\e904";
$icon-instagram: "\e905";
$icon-facebook: "\e906";

@font-face {
  font-family: "#{$icomoon-font-family}";
  src: url("#{$icomoon-font-path}/#{$icomoon-font-family}.eot?34tyce");
  src: url("#{$icomoon-font-path}/#{$icomoon-font-family}.eot?34tyce#iefix")
      format("embedded-opentype"),
    url("#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?34tyce")
      format("truetype"),
    url("#{$icomoon-font-path}/#{$icomoon-font-family}.woff?34tyce")
      format("woff"),
    url("#{$icomoon-font-path}/#{$icomoon-font-family}.svg?34tyce##{$icomoon-font-family}")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "#{$icomoon-font-family}" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search {
  &:before {
    content: $icon-search;
  }
}
.icon-bars {
  &:before {
    content: $icon-bars;
  }
}
.icon-whatsapp {
  &:before {
    content: $icon-whatsapp;
  }
}
.icon-youtube {
  &:before {
    content: $icon-youtube;
  }
}
.icon-twitter {
  &:before {
    content: $icon-twitter;
  }
}
.icon-instagram {
  &:before {
    content: $icon-instagram;
  }
}
.icon-facebook {
  &:before {
    content: $icon-facebook;
  }
}
