.historia-item{
    max-width: 380px;
    margin: 0 30px;
    transition: all 0.3s;
    &:hover .historia-item-image{
        filter: drop-shadow(2px 4px 6px rgb(0,0,0,0.5));
    }
    .historia-item-image{
        position: relative;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
        transition: all 0.3s;
        img{
            height: 250px;
        }
        h3{
            position: absolute;
            color: #fff;
            font-family: alin-kid;
            top: 90px;
            right: 0px;
            font-size: 30px;
        }
        a{
            position: relative;
        }
        
    }
    p{
        background-repeat: no-repeat;
        background-size: 100% 100%;
        padding: 20px; 
        background-image: url('../images/cifras-text-background.png');
    }
    .nino-lugar {
        height: 200px !important;
        position: absolute;
        left: 60px;
        top: 70px; 
    }
    

}

.page-name{
    color: white;
    font-family: alin-kid;
    text-align: center;
    align-items: center;
    justify-content: center;
    h2{
        font-size: 40px;
    }
}

.bg-cauca{
    
}

.nino-description{
    margin-bottom: 50px;
    h3{
        
        font-family: alin-kid; 
        color:#009cdd;
    }
}

.historias-cauca{
    background-image: url(../images/cauca-background.svg);
}

@media (max-width:768px){
    .historia-item{
        margin:0 0 50px 0;
    }
}