.ninos-historias {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  .nino-historia {
    width: 33.33%;
    min-width: 300px;
    margin: 25px auto;
    .nino-historia-image {
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        max-width: 210px;
      }
    }
    .nino-name {
      font-family: "alin-kid";
      background-image: url(../images/hoja-nombre.png);
      background-size: 100% 100%;
      padding: 15px;
      display: flex;
      justify-content: center;
      width: 75%;
      margin: auto;
      margin-top: -50px;
      transition: all 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
      &:hover{
        transform: rotate(8deg);
      }
      h3{
        color:white;
      }
      a{
        width: 100%;
        justify-content: center;
        display: flex;
      }
      position: relative;
    }
  }
}

.nino-gallery-section {
  width: 100%;
  h4 {
    font-family: "alin-kid";
    color: #009cdd;
  }
}

@media (max-width: 768px) {
  .nino-historia {
    width: 50% !important;
  }
  .bg-cartagena {
    background-size: 110%;
  }
}
@media (max-width: 498px) {
  .nino-historia {
    width: 100% !important;
  }
}
